# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages 
- common libaries 
- arthimetics

Some of the popular languages that Data Scientists use are :
1. python
2. R 
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. tensor flow
2. py kit
3. sci-learn

| Data Science Tools|
| ------------------|
| RStudio |
| Apachespark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

## Faisal Salih